@import 'variables/variables';

.element {
  // margin-top: 2.5%;
  font-size: 17px;
}
.nftImage {
  margin-left: 5%;
}
.inputBorder {
  border: 1 $dark-1;
}
.inputWidth {
  width: 99% !important;
}
.numberInputWidth {
  width: 38%;
}
.inputWrapper {
  padding-left: 2%;
}

.borderRounded{
  border-radius: 50%;
}

.outline {
  outline: 1px dashed $dark-1;
  // outline-offset: 1px;
  overflow:hidden;
  // width: 250px;
  // height: 250px;
  align-items: center;
  // background-color: rgba(40, 44, 50, 0.3);
}

@media screen and (max-width: 900px) {
  .numberInputWidth {
    width: 100%;
  }
}