@import 'variables/variables';

.selectContainer {
  display: flex;
  padding: 1% 0 1% 0%;

  select {
    background: none;
    margin-left: 1%;
    width: 100% !important;
  }

  option:not(:checked) {
    background-color: $dark-2;
  }

  .icon {
    display: inline-block;
  }
}

.option {
  background-color: $dark-1;
}