@import 'variables/variables';

.inputcontainer {
  display: flex;
  padding: .8% 0%;

  input {
    background: none;
  }

  .icon {
    display: inline-block;
  }

  input[type=number] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }
}
.fieldInputContainer {

  input {

    &::placeholder {
      color: $white;
      opacity: 1; 
    }
    
    &:-ms-input-placeholder { 
      color: $white;
    }
    
    &::-ms-input-placeholder {
      color: $white;
    }
  }
}

