@import 'variables/variables';

.darkbg{
  background: rgba(0, 0, 0, 0.3);
}

.inputcontainer {
  background: rgba(0, 0, 0, 0.3);
  border-radius: $input-border-radius;
  border: 1px solid $purple-primary;
  display: flex;
  padding: 1% 3%;

  &.xl {
    border-radius: $border-radius-quaternary;
    padding: $basic-padding-xl;
  }

  &.xs {
    border-radius: $border-radius-quaternary;
    padding: $basic-padding-xs;
  }

  input {
    background: rgba(0, 0, 0, 0);
    margin-left: 20px;
  }

  .icon {
    display: inline-block;
  }
}