@import "variables/variables.scss";

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // background-color: $black;
  color: $white;
  padding: 0px;

  .content {
    z-index: 10;
    width: 100%;
  }
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;
    font-size: 1.2rem;
    // background: linear-gradient(18deg, #2e1158 13.89%, rgba(0, 0, 0, 1) 100%);
    // position: absolute;
    width: 100%;
  }

  .section {
    padding: 80px 15%;
  }

  .backg {
    z-index: 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .banner {
    width: 100%;
    height: 25%;
    // position: fixed;
  }

  .bottom {
    // bottom: 0;
    width: 100%;
    // background: black 100%;
    background: linear-gradient(180deg, transparent 15%, #202328 98.77%);
    height: 75%;
    // position: fixed;
    padding: 0px;
  }

  .footer {
    margin-top: 50px;
    border-top: 1px solid #2d333d;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 70%;
  }

  .rightsText {
  }

  .iconsBox {
    display: flex;
    justify-content: center;
    grid-gap: 15px;
  }

  .textBox {
    display: flex;
    justify-content: flex-end;
    grid-gap: 20px;
  }
}
